server {
    listen 80;
    listen [::]:80;
    http2 on;

    server_name assets${FALCON_SERVICES_PREFIX}${FALCON_DNS_SUFFIX};
    access_log /var/log/nginx/assets.access.log main;

    location / {
        proxy_pass http://falcon-assets-manager;
        proxy_pass_request_headers on;
    }
}
