server {
    listen 80;
    listen [::]:80;
    http2 on;

    server_name dashboard${FALCON_SERVICES_PREFIX}${FALCON_DNS_SUFFIX};
    access_log /var/log/nginx/dashboard.access.log main;

    location / {
        proxy_pass http://falcon-dashboard:3000;
        proxy_pass_request_headers on;
    }
}
